.slider {
  width: 320px;
  height: 240px;
  background-color: #eee;
  border: 10px solid #888;
  margin: 0 auto;
  position: relative;
}

.slide {
  width: 320px;
  height: 240px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  animation: fade 20s infinite;
}

.slide:nth-child(1) {
  background: #eee
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-05.jpg')
    left top no-repeat;
}

.slide:nth-child(2) {
  background: #eee
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-06.jpg')
    left top no-repeat;
  animation-delay: 5s;
}

.slide:nth-child(3) {
  background: #eee
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-07.jpg')
    left top no-repeat;
  animation-delay: 10s;
}

.slide:nth-child(4) {
  background: #eee
    url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-08.jpg')
    left top no-repeat;
  animation-delay: 15s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
