body {
  background-color: #eee;
}

button {
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  margin: 20px;
}

.btn {
  font-size: 30px;
  color: #bbb;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 0 3px rgb(220, 220, 220);
  width: 70px;
  height: 70px;
  border-radius: 70px;
  padding: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.btn:focus {
  outline: none;
}

.btn .btn-icon {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  transition: all 0.25s;
}

.btn-stretch .btn-text {
  position: absolute;
  left: 75px;
  top: -10px;
  opacity: 0;
  transition: all 0.5s 0.15s;
}

.btn-spin .btn-text {
  position: absolute;
  line-height: 70px;
  height: 70px;
  width: 200px;
  left: -50px;
  top: 00px;
  opacity: 0;
  transition: all 0.5s 0.15s;
}

.btn-stretch:hover {
  width: 200px;
}

.btn-stretch:hover .btn-text {
  top: 20px;
  opacity: 1;
}

.btn-spin:hover {
  width: 200px;
  border-radius: 4px;
}

.btn-spin:hover .btn-text {
  left: 0;
  opacity: 1;
}

.btn-spin:hover .btn-icon {
  transform: rotate(180deg);
  opacity: 0;
}
