body {
  padding: 20px;
}

h2 {
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  text-align: center;
  color: #325d88;
  margin-bottom: 20px;
}

.pricing {
  width: 900px;
  margin: 0 auto;
}

.pricing .panel {
  float: left;
  width: 300px;
  border-radius: 0;
  text-align: center;
}

.panel-default > .panel-heading {
  padding: 2px;
  background-color: white;
}

.panel-default > .panel-heading h3 {
  background-color: #325d88;
  color: white;
  padding: 20px 10px;
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 1px 1px 4px #000;
  position: relative;
}

.panel-default > .panel-heading h3 span {
  display: block;
  margin-top: 6px;
  font-size: 28px;
  font-weight: 700;
}

h3 .fa-check {
  position: absolute;
  top: 10px;
  right: 10px;
  text-shadow: none;
  opacity: 0;
}
