* {
  box-sizing: border-box;
}

body {
  background-color: #298234;
  color: white;
}

a {
  color: white;
}

.main-nav {
  list-style: none;
  padding-left: 0;
}

.main-nav li {
  background-color: #399244;
  float: left;
  width: 160px;
  height: 40px;
  text-align: center;
  margin-right: 4px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  overflow: hidden;
}

.main-nav li a {
  text-decoration: none;
  width: 160px;
  height: 80px;
  line-height: 40px;
  display: block;
  font-size: 16px;
  position: relative;
  top: 0;
  transition: all 0.5s;
}

.main-nav li a::after {
  content: attr(data-title);
  display: block;
  font-weight: bold;
  width: 160px;
  height: 40px;
}

.main-nav li a:hover {
  top: -40px;
  background-color: #197221;
}
