@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Livvic, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

h1 {
  color: #43607e;
  text-align: center;
  letter-spacing: 0.8em;
}

#bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('https://images.unsplash.com/photo-1517685352821-92cf88aee5a5?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ');
  background-size: cover;
  background-position: center top;
  animation: bgAnim 20s infinite;
}

#main-content {
  position: relative;
}

@keyframes bgAnim {
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
